<section>

  <h1>Welcome to PetPro!</h1>
  <h2>Today's Appointments:</h2>
  <%for appointment in @appointments%>
    <% if appointment.appt_date == '2019-03-27' %>
        <p>Pet: <%= Pet.find(appointment.pet_id).name %></p>
        <p>Service: <%= appointment.service.capitalize %></p>
        <p>Date: <%= appointment.appt_date %></p>
        <p>Time: <%= appointment.appt_time %></p>
        <p><a href="/petpro/appointments/<%= appointment.id %>">More Details</a><p>
    <%end%>
  <%end%>

</section>
