<section>

  <h2><%=@pet.name%>'s Booked Appointments</h2>

    <%for appointment in @pet_appointments%>
      <div class = "appointment">
        <p>Service: <%=appointment.service.capitalize%></p>
        <p>Date: <%=appointment.appt_date%></p>
        <p>Time: <%=appointment.appt_time%></p>
        <p>Appointment length:
          <% if appointment.service.downcase == 'walk' %>
          <%= 60 %>
          <% elsif appointment.service.downcase == 'groom' %>
          <%= 120 %>
          <% else%>
          <%= 30 %>
          <% end %>
          mins</p>
      </div>

      <a class= "button_navy" href="/petpro/appointments/<%= appointment.id %>/edit">Edit</a>
      <form class="delete_form" action="/petpro/appointments/<%= appointment.id %>/delete" method="POST"><input class="button_grey" type="submit" value="Delete"></form>

      <br>
    <%end%>

</section>
