<div class="pet_photo">
  <img src="<%= @pet.photo%>" alt="<%= @pet.name %>">
</div>

<div class="pet_info">
  <h2><%=@pet.name%></h2>
    <p>Owner: <%= @pet.owner_name %></p>
    <p>Type: <%= @pet.type.capitalize %></p>
    <p>Breed: <%= @pet.breed %></p>
    <p>Gender: <%= @pet.gender %></p>
    <p>Age: <%= @pet.age %></p>
    <p>Neutered/spayed: <%= @pet.neutered_or_spayed%></p>
</div>

<div>
<a href="/petpro/pets/<%= @pet.id %>/edit">Edit</a>
</div>

<div>
<a href="/petpro/pets/<%= @pet.id %>/appointments">Show Appointments</a>
</div>

<form action="/petpro/pets/<%= @pet.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
